MODEL_PATH=../SignBridge_Final_Model(1)/signbridge_model.keras
SCALER_MIN_PATH=../SignBridge_Final_Model(1)/scaler_min.npy
SCALER_SCALE_PATH=../SignBridge_Final_Model(1)/scaler_scale.npy
LABELS_PATH=../SignBridge_Final_Model(1)/labels.json
PORT=8000
HOST=0.0.0.0
